.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1D;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    min-height: 400px;
    min-width: 300px;
  }

  .containermsg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 400px;
  }

  .background {
      display: flex;
      background-color: #1A1A1D;
      padding: 10%;
  }

  .form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff7751;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }